* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', Montserrat;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color:  #0a090a;
  min-height: 100vh;
  line-height: 1.5;
  /* -webkit-font-smoothin: antialiased; */
}

